# vi: ft=fish

function __toggle_venv --on-variable PWD
    # Bug with switching dirs between python projects, old venv stays active. store and compare project name too
    if test -e Pipfile
        if not set -q VIRTUAL_ENV
            source (pipenv --venv)/bin/activate.fish
        end
    else
        if set -q VIRTUAL_ENV
            deactivate
        end
    end
end
