# vi: ft=bash

# Environment Variables
export HOMEBREW_BUNDLE_FILE=$HOME/.brewfile
export PYENV_ROOT="${HOME}/.pyenv"
export PATH=$HOME/.bin:$PYENV_ROOT/bin:$PATH

{{- if eq .chezmoi.os "linux" }}
export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew";
export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar";
export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew";
export PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin${PATH+:$PATH}";
export MANPATH="/home/linuxbrew/.linuxbrew/share/man${MANPATH+:$MANPATH}:";
export INFOPATH="/home/linuxbrew/.linuxbrew/share/info${INFOPATH+:$INFOPATH}";
{{- end }}

# Aliases
if [ -f ~/.bash_aliases ]; then
    source ~/.bash_aliases
fi

# Hand over to fish
if command -v pyenv 1>/dev/null 2>&1; then
    eval "$(pyenv init -)"
fi
_fish=$(which fish)
export SHELL=$_fish
exec $_fish
