# vi: ft=bash

# Environment Variables
if [ -f ~/.environment ]; then
    source ~/.environment
fi

# Aliases
if [ -f ~/.bash_aliases ]; then
    source ~/.bash_aliases
fi

# Hand over to fish
if command -v pyenv 1>/dev/null 2>&1; then
    eval "$(pyenv init -)"
fi
_fish=$(which fish)
export SHELL=$_fish

{{- if eq .chezmoi.os "linux" }}
function new_session() {
    read -p "Enter a name for the session: " session_name
    exec tmux new -s "${session_name}"
}

function tm() {
  [[ -n "$TMUX" ]] && change="switch-client" || change="attach-session"
  if [ $1 ]; then
    tmux $change -t "$1" 2>/dev/null || (tmux new-session -d -s $1 && tmux $change -t "$1"); return
  fi
  session=$(tmux list-sessions -F "#{session_name}" 2>/dev/null | fzf --exit-0) &&  exec tmux $change -t "$session" || new_session
}

tm
{{- else }}
exec $_fish
{{- end }}
