brew "zsh"
brew "pyenv"
brew "pyenv-default-packages"
brew "fish"
brew "cloc"
brew "fortune"
brew "ctags"
brew "fzf"
brew "go"
brew "jq"
brew "neovim", args: ["HEAD"]
brew "shellcheck"
brew "tfenv"
brew "xz"
