#vi: ft=bash

# Git
alias gpl="git pull"
alias gph="git push"
alias gco="git checkout"
alias gb="git branch"
alias gs="git status"
alias gc="git commit"

# Chezmoi
alias ca="chezmoi apply"
alias rld="source ~/.bashrc"
alias ce="chezmoi edit"

# Brew
alias bb="brew bundle"
