#!/bin/bash
# vi: ft=bash
# Environment Variables


export HOMEBREW_BUNDLE_FILE=$HOME/.brewfile
export PYENV_ROOT="${HOME}/.pyenv"
export PATH=$HOME/.bin:$PYENV_ROOT/bin:$PATH
export USER_DEVELOPMENT=$HOME/development
export USER_BIN=$HOME/.bin
export FZF_DEFAULT_OPTS="--preview-window up:95%"

export EDITOR=nvim

{{- if eq .chezmoi.os "linux" }}
export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew";
export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar";
export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew";
export PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin${PATH+:$PATH}";
export MANPATH="/home/linuxbrew/.linuxbrew/share/man${MANPATH+:$MANPATH}:";
export INFOPATH="/home/linuxbrew/.linuxbrew/share/info${INFOPATH+:$INFOPATH}";
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
export NOTES_HOME="${HOME}/Documents/notes/"
{{- end }}
