{{- if eq .chezmoi.os "darwin" }}
# SSH Config Goes Here

Host matcha
    Hostname {{ (index (index (onepassword "matcha").details.sections 0).fields 0).v }}
    Port {{ (index (index (onepassword "matcha").details.sections 0).fields 3).v }}

Host matcha-proxy
    Hostname {{ (index (index (onepassword "matcha").details.sections 0).fields 0).v }}
    Port {{ (index (index (onepassword "matcha").details.sections 0).fields 3).v }}
    LocalForward 8888 localhost:8888
    LocalForward 8787 localhost:8787
    RemoteForward 2000 localhost:22
    ControlMaster Auto
    ControlPath ~/.ssh/sockets/%r@%h:%p

Host matcha-bastion
    Hostname {{ (index (index (onepassword "matcha").details.sections 0).fields 0).v }}
    Port {{ (index (index (onepassword "matcha").details.sections 0).fields 3).v }}
    LocalForward 8888 localhost:8888
    LocalForward 8787 localhost:8787
    RemoteForward 2000 localhost:22
    ControlMaster Auto
    ControlPath ~/.ssh/sockets/%r@%h:%p
    ProxyJump bastion
{{- else }}
# SSH Config Goes Here
{{- end }}
