ipython
pandas
numpy
scikit-learn
pipenv
neovim
pynvim
pyotp
jinja2
sh
{{- if eq .chezmoi.os "darwin" }}
pywal
colorz
colorthief
{{- end }}
{{- if eq .chezmoi.os "linux" }}
archey4
psycopg2
pgcli
{{- end }}
